@model Car

<h2>@Model.CarName</h2>


<div class="img-thumbnail">
    <img alt="@Model.CarName" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price</h3>
        <h3>
            <a href="#"> @Model.CarName</a>
        </h3>
        <h2>@Model.BrandName</h2>
        <h2> @Model.LongDescription.ToUpper();</h2>
        <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                   asp-route-carId="@Model.CarId">Add to cart</a>
            </p>
        </div>
    </div>
</div>
