@model CarViewModel


<h1>@Model.CurrentBrand</h1>
@foreach (var car in Model.Cars)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="img-thumbnail">
            <img src="@car.ImageUrl" alt="">
            <h3 class="pull-right">@car.BrandName</h3>
            <p>@car.BrandName</p>
            <div class="caption">
                <h3 class="pull-right">@car.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@car.CarId"> @car.CarName</a>
                </h3>
                <p>@car.BrandName</p>
                <h2>@car.ShortDescription.ToUpper();</h2>
            </div>
        </div>
    </div>
}